# Copy to .env and fill values
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=vietlogis_demo
PORT=4000

# Cloudinary (B?t bu?c trên Production)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
